@{
    ViewBag.Title = "Classes";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@using MyPiazza.Models;
@model List< UserClass>
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-10 col-md-offset-1">
            
            <h1 class="text-center login-title" style="font-size:50px; font-family:'Times New Roman';">User Classes</h1>
            <table class="table table-stripped" style="margin-top:50px; border:2px solid #233a5c; ">
                     <thead>
                       <tr>
                         <th>Class Name</th>
                         <th>Instructor Name</th>
                         <th>No of Students</th>
                           <th>Institute Name</th>
                           <th>Creation Date</th>
                           <th>Status</th>
                           <th>Details</th>
                           <th> </th>
                       </tr>
                     </thead>
                 
                 <tbody>
                     @foreach (UserClass cls in Model)
                     {
                         <tr>
                             <td> @cls.Name</td>
                             <td> @cls.InstructorName</td>
                             <td> @cls.StudentsEnrolled </td>
                             <td> @cls.Institute</td>
                             <td> @cls.Date </td>
                             <td> @cls.Status </td>
                             <td><a href="/Admin/ClassDetails/@cls.Id">Show Posts</a> </td>
                             <td> <a href="/Admin/DeleteClass/@cls.Id">Delete Class</a> </td>
                         </tr>
                     }
                 </tbody>
             </table>
            
        </div>
    </div>
</div>
